{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "spotlight_double" site.Data.spotlight_bauteile }}
	{{ partial "spotlight_double_md" site.Data.spotlight_gestell_md }}
	{{ partial "spotlight_md" site.Data.spotlight_unterboden_md }}
	{{ partial "spotlight_md" site.Data.spotlight_deichselaufnahme_md }}
	{{ partial "spotlight_md" site.Data.spotlight_deichsel_md }}
	{{ partial "spotlight_double_md" site.Data.spotlight_achsaufnahme_md }}
	{{ partial "spotlight_double_md" site.Data.spotlight_seitenvierkante_md }}
	{{ partial "gallery" site.Data.gallery }}

{{ end }}
